<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" id="panel-title">Editing {{model.fullName}}</h3>
  </div>
  <div class="panel-body">
    {{partial 'friends/form'}}
  </div>
</div>
</div>
{{outlet}}
